<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>392100821353-iafa8aq4t37h1m1pt0cj3sm8p0j2et9e.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.392100821353-iafa8aq4t37h1m1pt0cj3sm8p0j2et9e</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>392100821353-poaon2om3k91lofv4l45k5podi0c0u45.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCqooVKiqGzP9MKg6meMtGUarZgyN07uUg</string>
	<key>GCM_SENDER_ID</key>
	<string>392100821353</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.trackingEmotions</string>
	<key>PROJECT_ID</key>
	<string>trackingemotions</string>
	<key>STORAGE_BUCKET</key>
	<string>trackingemotions.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:392100821353:ios:5761cc0c855c69322365f8</string>
</dict>
</plist>